@media (max-width: 830px){

  body{
    margin:0;
    padding:0;
    width:100%
  }

  header {
    font-family: 'Roboto Mono';
    text-transform: uppercase;
    text-align: center;
    top: 0;
    padding: 25px 50px;
    max-width: 100%;
    /* border: 1px solid red; */
  }

  #body {
    font-family: 'Roboto Mono';
    line-height: 130%;
    font-size: 18px;
    padding: 25px;
    max-width: 100%;
    text-align: center;
    /* border: 1px solid red; */
  }

  #map {
    padding: 10px;
    max-width: 100%;
    text-align: center;
    /* border: 1px solid red; */
  }

  h1 {
    font-size: 260%;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 130%;
    font-style: italic;
  }

  h3 {
    font-size: 100%;
    text-transform: capitalize;
  }
}




@media (min-width: 830px){

  body{
    margin:0;
    padding:0;
    width:100%
  }

  header {
    font-family: 'Roboto Mono';
    line-height: 110%;
    text-transform: uppercase;
    top: 0;
    padding: 25px 30px;
    max-width: 100%;
    /* border: 1px solid green; */
  }

  #body {
    font-family: 'Roboto Mono';
    line-height: 130%;
    font-size: 18px;
    padding: 0px 30px;
    max-width: 60%;
    max-height: 70vh;
    overflow-y: auto;
    float:left;
    /* border: 1px solid green; */
  }

  #map {
    padding: 0px 30px;
    max-width: 33%;
    max-height: 450px;
    float: left;
    text-align: center;
    /* border: 1px solid green; */
  }

  h1 {
    font-size: 260%;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 130%;
    font-style: italic;
  }

  h3 {
    font-size: 100%;
    text-transform: capitalize;
  }
}
